body {
  margin: 0 auto;
  width: 1020px;
  font-family: "Lato-Black", "AdobeInvisFont", "MyriadPro-Regular";
}
.header {
  display: block;
  position: sticky;
  background-image: url("assets/images/Header.png");
  background-repeat: no-repeat;
  min-height: 95px;
  background-size: cover;
}
.header__logo {
  display: inline;
  position: absolute;
  font-size: 12px;
  line-height: 6px;
  color: #ffffff;
  font-weight: 700;
  text-align: left;
  margin-top: 25px;
  margin-left: 40px;
  text-transform: uppercase;
}
.header__logo a {
  font-family: "Lato", sans-serif;
  text-decoration: none;
  color: white;
}

ul.nav__list {
  display: flex;
  float: right;
  position: relative;
  margin-top: 46px;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  color: white;
  text-decoration: none;
  width: 371px;
  text-transform: uppercase;
  margin-right: 40px;
  line-height: 6px;
  font-weight: 700;
}

li.nav__home {
  list-style-type: none;
}
li {
  padding-right: 30px;
  text-decoration: none;
  color: white;
  border: none;
  cursor: pointer;
}
li:hover {
  color: coral;
}
li a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}
/*Slider part*/
main {
  margin: 0 auto;
  padding: 0;
  display: block;
  position: relative;
}
main #slider {
  background-image: url("assets/images/Bg.png");
  background-repeat: no-repeat;
  min-height: 600px;
  display: flex;
  position: relative;
}
.slider__left-arrow {
  margin-top: 282px;
  margin-left: 34px;
}
.slider__vertical-phone {
  margin-top: 51px;
  margin-left: 76px;
}
.slider__vertical-screen {
  display: flex;
  position: absolute;
  margin-left: 111px;
  margin-top: -18px;
}
.slider__horizontal-phone {
  margin-top: 173px;
  margin-left: 72px;
}
.slider__horizontal-image {
  display: flex;
  position: absolute;
  margin-top: 69px;
  margin-left: 360px;
}
.slider__right-arrow {
  margin-top: 282px;
  margin-left: 49px;
}

/* Slider switcher arrow buttons*/
.left-arrow__button {
  position: absolute;
  background-color: #f06c64;
  cursor: pointer;
  border: none;
}
.left-arrow__button:hover {
  background-color: coral;
}
.right-arrow__button {
  position: absolute;
  background-color: #f06c64;
  cursor: pointer;
  border: none;
}
.right-arrow__button:hover {
  background-color: coral;
}

/*Services part*/

#services {
  background-image: url("assets/images/Bg-services.png");
  min-height: 500px;
  background-repeat: no-repeat;
}
.services__description {
  display: flex;
  position: absolute;
  font-family: "Lato", sans-serif;

  color: rgba(102, 109, 137, 255);

  text-align: left;
}
.services__description h1 {
  font-size: 30px;
  margin-top: 69px;
  margin-left: 41px;
  font-weight: 900;
  line-height: 18px;
  width: 171px;
  height: 23px;
}
.services__description p {
  font-size: 17px;
  line-height: 30px;
  width: 939px;
  height: 47px;
  font-weight: 300;
  margin-top: 115px;
  text-align: justify;
  font-family: "Lato", sans-serif;
  padding: 0;
  margin-left: -172px;
  margin-bottom: 0;
}
.services__container {
  width: 958px;
  height: 258px;
  display: flex;
  position: absolute;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: baseline;

  align-content: flex-start;
  margin-top: 221px;
  margin-left: 41px;
  font-family: "Lato", sans-serif;

  color: rgba(118, 126, 158, 255);
}
.services__custom-design {
  width: 299px;
  height: 90px;
}
.services__custom-design img {
  width: 59px;
  height: 59px;
  margin: 0;
  padding: 0;
}
.services__custom-design h2 {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-align: left;
  width: 121px;
  height: 17px;
  margin-top: -66px;
  margin-left: 80px;
  padding: 0;
  margin-bottom: 0;
}
.services__custom-design p {
  width: 219px;
  height: 128px;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: justify;
  padding: 0;
  margin-left: 80px;
}
.services__innovative-ideas {
  width: 319px;
  height: 90px;
}
.services__innovative-ideas img {
  width: 59px;
  height: 59px;
  margin-left: 20px;
  padding: 0;
}
.services__innovative-ideas h2 {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-align: left;
  width: 131px;
  height: 14px;
  padding: 0;
  margin-left: 98px;
  margin-top: -66px;
  margin-bottom: 0;
}
.services__innovative-ideas p {
  width: 219px;
  height: 128px;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: justify;
  padding: 0;
  margin-left: 100px;
}

.services__love-isthe-answer {
  width: 319px;
  height: 90px;
}
.services__love-isthe-answer img {
  width: 59px;
  height: 59px;
  margin-left: 20px;
  padding: 0;
}
.services__love-isthe-answer h2 {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-align: left;
  width: 160px;
  height: 14px;
  padding: 0;
  margin-left: 100px;
  margin-top: -66px;
  margin-bottom: 0;
}
.services__love-isthe-answer p {
  width: 219px;
  height: 128px;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: justify;
  padding: 0;
  margin-left: 100px;
}
.services__responsive-layout {
  width: 299px;
  height: 90px;
  margin-top: 32px;
}
.services__responsive-layout img {
  width: 59px;
  height: 59px;
  margin: 0;
  padding: 0;
}
.services__responsive-layout h2 {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-align: left;
  width: 160px;
  height: 17px;
  padding: 0;
  margin-left: 80px;
  margin-top: -65px;
}
.services__responsive-layout p {
  width: 219px;

  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: justify;
  padding: 0;
  margin-left: 80px;
  margin-top: -5px;
}
.services__support {
  width: 319px;
  height: 90px;
}
.services__support img {
  width: 59px;
  height: 59px;
  margin-left: 20px;
  padding: 0;
}
.services__support h2 {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-align: left;
  width: 125px;
  height: 14px;
  padding: 0;
  margin-left: 100px;
  margin-top: -65px;
}
.services__support p {
  width: 219px;

  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: justify;
  padding: 0;
  margin-left: 100px;
  margin-top: -2px;
}
.services__fell-likea-star {
  width: 319px;
  height: 90px;
}
.services__fell-likea-star img {
  width: 59px;
  height: 59px;
  margin-left: 20px;
  padding: 0;
}
.services__fell-likea-star h2 {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-align: left;
  width: 160px;
  height: 14px;
  padding: 0;
  margin-left: 100px;
  margin-top: -65px;
}
.services__fell-likea-star p {
  width: 219px;

  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: justify;
  padding: 0;
  margin-left: 100px;
  margin-top: -2px;
}
