body {
  margin: 0 auto;
  width: 1020px;
  font-family: "Lato", sans-serif;
}
* {
  scroll-behavior: smooth;
  max-width: 100%;
}

.header {
  display: block;
  position: fixed;
  background-image: url("assets/images/Header.png");
  background-repeat: no-repeat;
  min-height: 95px;
  background-size: cover;
  z-index: 2;
  margin: 0 auto;
  width: 1020px;
}
.triple-line-menu {
  display: none;
}

.triple-line-item {
  width: 25px;
  height: 2.4px;
  background: #f6f6f7;
  border-radius: 5px;
  margin: 6.4px;
}
.header__logo {
  display: inline;
  position: absolute;
  font-size: 12px;
  line-height: 6px;
  color: #ffffff;
  font-weight: 700;
  text-align: left;
  margin-top: 25px;
  margin-left: 40px;
  text-transform: uppercase;
}
.header__logo a {
  font-family: "Lato", sans-serif;
  text-decoration: none;
  color: white;
}

ul.nav__list {
  display: flex;
  float: right;
  position: relative;
  margin-top: 46px;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  color: white;
  text-decoration: none;
  width: 371px;
  text-transform: uppercase;
  margin-right: 40px;
  line-height: 6px;
  font-weight: 700;
  letter-spacing: -0.01rem;
}

li.nav__home {
  list-style-type: none;
}
.nav__list li {
  padding-right: 30px;
  text-decoration: none;
  color: white;
  border: none;
  cursor: pointer;
}

.nav__list li a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}


.nav__list li a.active {
  color: #f06c64;
}
.nav__list li:not(.active):hover {
  cursor: pointer;
  color: #f06c64;
}

.sticky {
  position: fixed;
  top: 0;
}


/*Slider part*/
main {
  margin: 0 auto;
  padding-top: 94px;
  display: block;
  position: relative;
}
main #slider {
 
  display: flex;
  position: relative;
  transition: background 0.5s ease;
  width: 100%;
  height: 600px;
  background-color: #f06c64;
}
.slider__left-arrow {
  margin-top: 282px;
  margin-left: 34px;
}
.slider__vertical-phone {
  position: absolute;
  margin-top: 52px;
  margin-left: 111px;
}

.slider__horizontal-phone {
  position: absolute;
  margin-top: 173px;
  margin-left: 424px;
}

.slider__right-arrow {
  margin-top: 282px;
  margin-left: 923px;
}

/* Slider switcher arrow buttons*/
.left-arrow__button {
  position: absolute;
  cursor: pointer;
  border: none;
  background-color: transparent;
  z-index: 1;
}
.left-arrow__button:hover {
  background-color: transparent;
}
.right-arrow__button {
  position: absolute;
  cursor: pointer;
  border: none;
  background-color: transparent;
  z-index: 1;
}
.right-arrow__button:hover {
  background-color: transparent;
}

@media (hover: hover) {
  .left-arrow__button,
  .right-arrow__button:hover {
    opacity: 60%;
  }
}

.phones {
  display: none;
  animation: 0.5s ease-in-out;
  height: 100%;
  transition: all 0.5s;
}

.activated,
.next {
  display: block;
  position: absolute;
  width: 100%;
}

.to-left {
  animation-name: left;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

.from-right {
  animation-name: right;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@keyframes right {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

.slide2 img {
  position: absolute;
  top: 40px;
  left: 253px;
}


.home-btn {
  position: absolute;
  border: 1px solid transparent;
  border-radius: 50%;
  height: 42px;
  width: 42px;
}
.slider__vertical-phone .home-btn {
  bottom: 36px;
  left: 86px;
}

.slider__horizontal-phone .home-btn {
  top: 87px;
  left: 9px;
}


.black-screen {
  position: absolute;
  background-color: black;
  width: 189px;
  height: 334px;
  animation: 3s linear 1s slidein;
}

.slider__horizontal-phone .black-screen {
  transform: rotate(90deg);
  top: -58px;
  left: 133.5px;
}

.slider__vertical-phone .black-screen {
  top: 65.5px;
  left: 14.5px;
}


#services {
  background-image: url("assets/images/Bg-services.png");
  min-height: 500px;
  background-repeat: no-repeat;
}
.services__description {
  display: block;
  position: absolute;
  font-family: "Lato", sans-serif;
  color: rgba(102, 109, 137, 255);
  margin: 0 auto;
}
.services__description__container {
  width: 944px;
  margin: 41px;
  max-height: fit-content;
  position: relative;
}
.services__description h1 {
  font-size: 30px;
  margin-top: 69px;
  font-weight: 900;
  line-height: 18px;
  width: 181px;
  height: 23px;
}
.services__description p {
  font-size: 17px;
  line-height: 30px;
  height: 47px;
  font-weight: 300;
  text-align: justify;
  font-family: "Lato", sans-serif;
  padding: 0;
  letter-spacing: 0.013rem;
  margin-top: -3px;
}
.services__container {
  width: 958px;
  height: 258px;
  display: flex;
  position: absolute;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: baseline;

  align-content: flex-start;
  margin-top: 221px;
  margin-left: 41px;
  font-family: "Lato", sans-serif;

  color: rgba(118, 126, 158, 255);
}
.services__custom-design {
  width: 299px;
  height: 90px;
}
.services__custom-design img {
  width: 59px;
  height: 59px;
  margin: 0;
  padding: 0;
}
.services__custom-design h2 {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-align: left;
  width: 151px;
  height: 17px;
  margin-top: -66px;
  margin-left: 80px;
  padding: 0;
  margin-bottom: 0;
}
.services__custom-design p {
  width: 219px;
  height: 128px;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: justify;
  padding: 0;
  margin-left: 80px;
}
.services__innovative-ideas {
  width: 319px;
  height: 90px;
}
.services__innovative-ideas img {
  width: 59px;
  height: 59px;
  margin-left: 20px;
  padding: 0;
}
.services__innovative-ideas h2 {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-align: left;
  width: 141px;
  height: 14px;
  padding: 0;
  margin-left: 98px;
  margin-top: -66px;
  letter-spacing: 0.02rem;
}
.services__innovative-ideas p {
  width: 219px;
  height: 128px;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: justify;
  padding: 0;
  margin-left: 100px;
}

.services__love-isthe-answer {
  width: 319px;
  height: 90px;
}
.services__love-isthe-answer img {
  width: 59px;
  height: 59px;
  margin-left: 20px;
  padding: 0;
}
.services__love-isthe-answer h2 {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-align: left;
  width: 180px;
  height: 14px;
  padding: 0;
  margin-left: 100px;
  margin-top: -66px;
  letter-spacing: 0.02rem;
}
.services__love-isthe-answer p {
  width: 219px;
  height: 128px;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: justify;
  padding: 0;
  margin-left: 100px;
}
.services__responsive-layout {
  width: 299px;
  height: 90px;
  margin-top: 32px;
}
.services__responsive-layout img {
  width: 59px;
  height: 59px;
  margin: 0;
  padding: 0;
}
.services__responsive-layout h2 {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-align: left;
  width: 170px;
  height: 17px;
  padding: 0;
  margin-left: 80px;
  margin-top: -65px;
}
.services__responsive-layout p {
  width: 219px;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: justify;
  padding: 0;
  margin-left: 80px;
  margin-top: -2px;
  letter-spacing: -0.014rem;
}
.services__support {
  width: 319px;
  height: 90px;
}
.services__support img {
  width: 59px;
  height: 59px;
  margin-left: 20px;
  padding: 0;
}
.services__support h2 {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-align: left;
  width: 145px;
  height: 14px;
  padding: 0;
  margin-left: 100px;
  margin-top: -65px;
  letter-spacing: 0.05rem;
}
.services__support p {
  width: 219px;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: justify;
  padding: 0;
  margin-left: 100px;
  letter-spacing: -0.01rem;
}
.services__fell-likea-star {
  width: 319px;
  height: 90px;
}
.services__fell-likea-star img {
  width: 59px;
  height: 59px;
  margin-left: 20px;
  padding: 0;
}
.services__fell-likea-star h2 {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-align: left;
  width: 170px;
  height: 14px;
  padding: 0;
  margin-left: 100px;
  margin-top: -65px;
  letter-spacing: 0.02rem;
}
.services__fell-likea-star p {
  width: 219px;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: justify;
  padding: 0;
  margin-left: 100px;
}

#portfolio {
  min-height: 870px;
  width: 1020px;
  background-image: url("assets/images/Bg-portfolio.png");
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
}
.portfolio__container {
  width: 944px;
  min-height: 800px;
  margin: 0 auto;
}

.portfolio__description {
  height: 73px;
  margin-top: 70px;
  margin-left: 3px;
}
.portfolio__description h2 {
  color: #666d89;
  font-size: 30px;
  line-height: 18px;
  font-family: "Lato";
  font-weight: 900;
  text-align: justify;
  letter-spacing: 0.03rem;
}

.portfolio__description p {
  width: 940px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-align: justify;
  letter-spacing: -0.014rem;
}

.portfolio__links {
  padding: 0;
  position: relative;
  width: 400px;
  margin-left: -37px;
}

.portfolio__links ul {
  list-style-type: none;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-weight: 400;
  text-align: justify;
  display: flex;
}
.links__buttons button {
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
  border: 1px solid #666d89;
  border-radius: 5px;
  height: 22px;
  background-color: transparent;
  font-size: 12.1px;
  color: #767e9e;
  font-family: Lato, sans-serif;
  font-weight: 400;
  text-align: center;
  letter-spacing: -0.1px;
}
.links__buttons .active {
  color: #dedede;
  border-color: #c5c5c5;
}

.links__buttons button:not(.active):hover {
  color: #dedede;
  border-color: #c5c5c5;
}

.links__buttons__all {
  width: 29px;

  margin-right: 8px;
}
.links__buttons__web {
  margin-right: 8px;
}
.links__buttons__graphic {
  margin-right: 8px;
}

.portfolio__pictures {
  height: 604px;
  width: 940px;
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

ul.pictures__lists {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  flex-direction: row;
  height: 604px;
  width: 100%;
  padding: 0;
  justify-content: space-between;
  align-content: space-between;
  margin-top: 8px;
  overflow: hidden;
  margin-left: 2px;
  transition: all 0.5s;
}
.pictures-item:not(.active):hover {
  border: 5px solid rgba(240, 108, 100);
  cursor: pointer;
  width: 210px;
  height: 190px;
}


ul.pictures__lists img {
  width: 223px;
  height: 190px;
}
@media screen and (max-width: 1020px) ul.pictures__lists {
  height: 100%;
  width: 92%;
}
@media screen and (max-width: 1020px) .pictures__lists li {
  width: 216px;
  height: 183px;
  margin: 9.5px;
}

#about-us {
  height: 734px;
  width: 1020px;
  background-image: url("assets/images/Bg-about-us.png");
  background-repeat: no-repeat;

  padding: 0;

  display: inline-block;
}
.about-us__section__container {
  width: 944px;
  margin: 0 auto;
  max-height: fit-content;
}
.about-us__description {
  display: block;
}

.about-us__description h2 {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-align: left;
  width: 145px;
  height: 23px;
  padding-top: 43px;
  padding-left: 4px;
}
.about-us__description p {
  width: 939px;
  height: 57px;
  font-size: 18px;
  text-align: justify;
  font-family: "Lato", sans-serif;
  color: #666d89;
  line-height: 30px;
  margin-top: -3px;
  padding-left: 2px;
  letter-spacing: -0.014rem;
  font-weight: 300;
}
.about-us__employees {
  display: flex;
  width: 100%;
  height: 443px;
  padding: 0;
  margin-top: 47px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: space-between;
}
.first__employee {
  width: 303px;
}
.second__employee {
  width: 303px;
}
.third__employee {
  width: 303px;
}

.about-us__employees h3 {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-align: left;
  letter-spacing: 0.02rem;
  margin-top: 11px;
  margin-bottom: 0;
}
.about-us__employees p {
  width: 302px;
  height: 175px;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-align: justify;
  margin-bottom: 0;
  letter-spacing: -0.01rem;
  margin-top: 10px;
}
#employee__social__media__icons {
  width: 155px;
  height: 34px;
  padding: 0;
  margin-top: -112px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  flex-direction: row;
  cursor: pointer;
}
#employee__social__media__icons a img:hover {
  background-color: #b5c0f6;
  border-radius: 100%;
}

/*Part 3 singolo-3 css */
/*GET A QUOTE part*/

@media screen and (max-width: 1019px) .popup-box {
  height: 100%;
}

.popup-box {
  height: 100%;
  background-color: #80808066;
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.popup {
  width: 50%;
  height: 50%;
  margin: 15% auto 0;
  background-color: #f3a4a0;
  border: 2px solid grey;
  border-radius: 5px;
  z-index: 1;
  font-family: "Lato", sans-serif;
  color: wheat;
  text-overflow: clip;
  overflow: hidden;
  padding: 5px 20px;
  position: relative;
}
.popup p:first-child {
  font-weight: bold;
  font-size: 28px;
  color: wheat;
}

.popup p {
  max-height: 157px;
  overflow: hidden;
}
.popup p:nth-child(2) {
  max-height: 20px;
}
.popup button {
  position: absolute;
  bottom: 26px;
}
.submitbtn {
  background-color: #d6564f;
  border-radius: 5px;
  border: none;
  height: 38px;
  width: 90px;
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #f48c8f;
  cursor: pointer;
}

.get-a-quote {
  width: 1020px;
  height: 654px;
  background-image: url("assets/images/Bg-get-a-quote.png");
  background-repeat: no-repeat;
  padding: 0;
  display: inline-block;
}

.get-a-quote__container {
  width: 940px;
  margin: 0 auto;
  max-height: fit-content;
}

.get-a-quote__description {
  display: block;
  width: 939px;
  height: 103px;
  margin-top: 69px;
}

.get-a-quote__description h2 {
  font-size: 30px;
  line-height: 18px;
  color: #f0d8d9;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-align: left;
}
.get-a-quote__description p {
  width: 940px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  color: #f0d8d9;
  font-family: "Lato", sans-serif;
  font-weight: 200;
  text-align: justify;
  letter-spacing: -0.014rem;
  word-spacing: -0.01rem;
}
.form__apply {
  display: inline-flex;
  width: 619px;
  height: 454px;
  text-align: left;
  margin-top: 25px;
  padding: 0;
  position: relative;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 1019px) #form {
  height: 41vw;
}
@media screen and (max-width: 1019px) #form :nth-child(n) {
  width: 54vw;
}
@media screen and (max-width: 1019px) #description {
  height: 20vw;
}

input#name {
  width: 602px;
  height: 38px;
  border-style: hidden;
  border-radius: 5px;
  background-color: #d6564f;
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato";
  font-weight: 400;
  text-align: justify;
  padding-left: 15px;
}
input#email {
  width: 602px;
  height: 38px;
  border-style: hidden;
  border-radius: 5px;
  background-color: #d6564f;
  text-align: left;
  margin-top: -5px;
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato";
  font-weight: 400;
  padding-left: 15px;
}

input#subject {
  width: 602px;
  height: 38px;
  border-style: hidden;
  border-radius: 5px;
  background-color: #d6564f;
  text-align: justify;
  margin-top: 15px;
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato";
  font-weight: 400;
  padding-left: 15px;
}

textarea#description {
  width: 602px;
  height: 193px;
  border-style: hidden;
  border-radius: 5px;
  background-color: #d6564f;
  text-align: justify;
  margin-top: 15px;
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato";
  font-weight: 400;
  padding-left: 15px;
  padding-top: 7px;
  resize: none;
}

input[type="submit"] {
  border-style: double;
  border-color: #f06c64;
  background-color: #f0d8d9;
  color: #e7291f;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 5px;
}
input[type="submit"]:hover {
  background-color: #f3e074;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #f48c8f;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #f48c8f;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #f48c8f;
}

.contact__information {
  display: inline;
  position: absolute;
  width: 301px;
  height: 195px;
  padding: 0;
  color: #f0d8d9;
  font-family: "Lato";
  margin-left: 20px;
  margin-top: 26px;
}
.contact__information h3 {
  font-size: 18px;
  line-height: 18px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  letter-spacing: 0.02rem;
}
.contact__information p {
  width: 300px;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: justify;
  letter-spacing: -0.01rem;
  margin-top: -7px;
}
ul.contacts {
  display: block;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  list-style-type: none;
  margin: 0;
  padding-left: 0px;
  padding-top: 5px;
}
.contacts a {
  text-decoration: none;
  outline: none;
  color: #f0d8d9;
}
ul.contacts img {
  padding-right: 12px;
}
.contacts a:hover {
  color: #db443c;
}
/*FOOTER part*/
footer {
  margin: 0 auto;
  padding: 0;
  display: block;
}

.part__footer {
  display: inline-block;
  position: relative;
  background-image: url("assets/images/Bg-Footer.png");
  background-repeat: no-repeat;
  width: 1020px;
  height: 76px;
  margin: 0;
  padding: 0;
}
.part__footer__container {
  width: 940px;
  margin: 0 auto;
  max-height: fit-content;
}
.part__footer h5 {
  color: #666d89;
  font-size: 12px;
  font-weight: normal;
  width: 225px;
  padding-top: 29px;
  margin: 0;
  letter-spacing: -0.01rem;
}
ul.footer__social__media {
  display: flex;
  position: relative;
  list-style-type: none;
  width: 160px;
  height: 35px;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-around;
  align-content: flex-end;
  margin-left: 558px;
  margin-bottom: 0px;
  margin-top: 18px;
  cursor: pointer;
}

.footer__social__media li {
  display: inline-block;
  width: 32px;
  height: 32px;
}
.footer__info {
  display: inline-flex;
}
.footer__social__media li:hover {
  border-radius: 100%;
  background-color: #f06c64;
}

@media (min-width: 374px) and (max-width: 768px) {
  body {
    min-width: 375px;
  }
  main {
    padding-top: 0;
  }
  .header {
    width: 100%;
    transition: transform 0.5s linear, -webkit-transform 0.5s linear;
    margin: 0 auto;
    position: sticky;
    display: block;
  }
  .header__navigation {
    display: none;
  }
  .header__logo {
    margin: 0;
    z-index: 5;
    position: absolute;
    padding-top: 25px;
    padding-left: 150px;
  }
  .triple-line-menu {
    display: block;
    z-index: 6;
    transition: all 0.5s;
    padding: 30px;
    position: absolute;
  }
  .triple-line-item {
    width: 25px;
    height: 2.4px;
    background: #f6f6f7;
    border-radius: 5px;
    margin: 6.4px;
  }
  .triple-line-menu.active {
    transform: rotate(90deg);
    z-index: 5;
    transition: all 0.5s;
  }
  main #slider {
    height: 58vw;
  }
  .slider__left-arrow {
    margin-top: 103px;
    margin-left: 0;
  }

  .slider__left-arrow button {
    margin-left: 2.5vw;
  }
  .slider__right-arrow {
    margin-top: 103px;
    margin-left: 335px;
  }
  .slider__right-arrow button {
    margin-right: 2.5vw;
  }
  .slider__vertical-phone {
    top: 5vw;
    left: 11vw;
    margin: 0;
  }
  .slider__vertical-phone img {
    width: 21vw;
    height: auto;
  }
  .slider__vertical-phone .home-btn {
    bottom: 3vw;
    left: 7.3vw;
  }
  .slider__vertical-phone .black-screen {
    top: 5.7vw;
    left: 1.3vw;
  }
  .slider__horizontal-phone {
    top: 17vw;
    left: 42vw;
    margin: 0;
  }
  .slider__horizontal-phone img {
    height: 21vw;
    width: auto;
  }
  .slider__horizontal-phone .home-btn {
    top: 7.1vw;
    left: 0.4vw;
  }
  .slider__horizontal-phone .black-screen {
    top: -5.6vw;
    left: 11.9vw;
    height: 30.2vw;
  }
  .black-screen {
    width: 16.5vw;
    height: 29.2vw;
  }

  .slide2 img {
    width: 45vw;
    height: auto;
    top: 6vw;
    left: 27vw;
  }
  #services {
    width: 100%;
    height: auto;
    background-image: none;
    background-color: #f2f2f2;
    height: 970px;
    justify-content: center;
    margin: 0 auto;
  }
  .services__description {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
  }
  .services__description__container {
    width: 375px;
    margin: 0 auto;
    justify-content: center;
  }

  .services__description__container h1 {
    padding: 30px 32px 0px 29px;
    margin: 0;
  }
  .services__description__container p {
    padding: 18px 32px 0px 29px;
    width: 314px;
    height: 214px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
  }
  .services__container {
    width: 315px;
    justify-content: space-between;
    position: relative;
    padding-top: 300px;
    margin: 0 auto;
  }
  .services__custom-design {
    padding: 7.5px 0px;
  }
  .services__custom-design {
    width: 220px;
  }
  .services__innovative-ideas {
    margin: 0;
    padding-top: 9px;
  }
  .services__innovative-ideas img {
    margin-left: 0;
  }
  .services__innovative-ideas h2 {
    margin-left: 82px;
  }
  .services__innovative-ideas p {
    margin-left: 82px;
  }
  .services__love-isthe-answer {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 0;
  }
  .services__love-isthe-answer img {
    margin-left: 0;
  }
  .services__love-isthe-answer h2 {
    margin-left: 82px;
  }
  .services__love-isthe-answer p {
    margin-left: 82px;
  }
  .services__responsive-layout {
    margin: 0;
    padding-top: 15px;
    padding-right: 0;
    padding-bottom: 0;
  }
  .services__support {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 0;
  }
  .services__support img {
    margin-left: 0;
  }
  .services__support h2 {
    margin-left: 82px;
  }
  .services__support p {
    margin-left: 82px;
  }
  .services__fell-likea-star {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 0;
  }
  .services__fell-likea-star img {
    margin-left: 0;
  }
  .services__fell-likea-star h2 {
    margin-left: 82px;
  }
  .services__fell-likea-star p {
    margin-left: 82px;
  }
  #portfolio {
    position: relative;

    width: 100%;
    min-height: fit-content;
  }
  .portfolio__container {
    width: 315px;
    justify-content: center;
    margin: 0 auto;
  }
  .portfolio__description {
    margin: 0;
    width: 315px;
  }
  .portfolio__description h2 {
    margin: 0;
    padding-top: 42px;
  }
  .portfolio__description p {
    margin: 0;
    padding-top: 14px;
  }
  .portfolio__links {
    position: relative;
    margin: 0;
    padding: 0;
    justify-content: left;
  }
  .links__buttons {
    margin-top: 100px;
    padding: 0;
  }
  .portfolio__pictures {
    margin: 0;
    padding-top: 25px;
    height: fit-content;
  }
  .pictures-item.active {
    width: 37.6vw;
    height: 31.5vw;
  }
  .pictures-item:not(.active):hover {
    border: 3px solid rgba(240, 108, 100);
    cursor: pointer;
    width: 151px;
    height: 128px;
  }
  ul.pictures__lists {
    
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 523px;
    overflow: hidden;
  }
  .pictures-item {
  }
  ul.pictures__lists img {
    width: 151px;
    height: 128px;
    justify-content: space-between;
    align-content: space-between;
    margin: 0;
    flex-direction: row;
  }
  #about-us {
    width: 100%;
    height: 1720px;
    background-image: none;
    background-color: #f2f2f2;
  }
  .about-us__section__container {
    width: 315px;
    justify-content: center;
    margin: 0 auto;
  }
  .about-us__description {
    margin: 0;
    width: 315px;
    height: 274px;
  }
  .about-us__description h2 {
    padding-top: 33px;
  }
  .about-us__employees {
    flex-direction: row;
    align-items: center;
    margin: 0;
  }
  .first__employee {
    padding-bottom: 20px;
  }
  .second__employee {
    padding-bottom: 30px;
  }
  #get-a-quote {
    width: 100%;
    height: 1005px;
    background-image: none;
    background-color: #f16c65;
  }
  .get-a-quote__container {
    width: 315px;
    justify-content: center;
    margin: 0 auto;
  }
  .popup-box {
    width: 100%;
  }
  .popup {
    height: 50%;
    margin: 50% auto;
  }
  .popup button {
    width: 70px;
    color: wheat;
  }
  .submitbtn {
    width: 83vw;
  }
  .get-a-quote__description {
    padding-top: 20px;
    margin: 0;
  }
  .form__apply {
    flex-direction: column;
    display: flex;
    width: 300px;
    margin: 0;
    padding-top: 170px;
  }
  #form {
    height: 309px;
  }
  input[type="submit"] {
    width: 315px;
    height: 50px;
    justify-content: center;
  }
  input#name {
    width: 315px;
    height: 38px;
  }
  input#email {
    width: 315px;
    height: 38px;
  }
  input#subject {
    width: 315px;
    height: 38px;
    margin-top: -5px;
  }
  textarea#description {
    width: 315px;
    height: 159px;
    margin: 0px;
  }
  .contact__information {
    margin: 0;
    width: 315px;
    padding-bottom: 40px;
  }
  footer {
    width: 100%;
    height: 76px;
    margin: 0 auto;
    padding: 0;
  }
  .part__footer h5 {
    display: none;
  }
  ul.footer__social__media {
    display: flex;
    margin: 0;
    align-content: space-between;
    padding-top: 22px;
    padding-left: 82px;
  }
  .part__footer__container {
    width: 315px;
    margin: 0 auto;
  }
  .mobile-active-menu {
    position: fixed;
    left: 0%;
    top: 0%;
    display: block;
    width: 278px;
    height: 100vh;
    background: #2d303a;
    box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
    z-index: 4;
  }

  .overlay-mobile.active {
    background: #2d303a;
    opacity: 0.6;
    z-index: 3;
    height: calc(100% - 95px);
    width: calc(100% - 238px - 40px);
    position: fixed;
    right: 0%;
    top: calc(0% + 95px);
  }
  ul.nav__list {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 232px;

    height: 263px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    margin-left: 0;
    margin-right: 0;
  }
  .nav__list li {
    width: 205px;
    height: 29px;
    padding-left: 71px;
    padding-right: 0;
  }
}
